<a href="https://colab.research.google.com/github/nekethamahendran/Datascience/blob/main/Neketha_DAY_DIY11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtering the database on Condition "SepalLength>=6cm"

In [ ]:
import pandas as pd
df=pd.read_csv("/content/Iris.csv")
print("Original DataFrame is:")
print(df)

Original DataFrame is:
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
df1=df.loc[df['SepalLengthCm']>=6]
print("Flowers  with more than 6cm Sepal Length are:")
print(df1)

Flowers  with more than 6cm Sepal Length are:
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
50    51            7.0           3.2            4.7           1.4
51    52            6.4           3.2            4.5           1.5
52    53            6.9           3.1            4.9           1.5
54    55            6.5           2.8            4.6           1.5
56    57            6.3           3.3            4.7           1.6
..   ...            ...           ...            ...           ...
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3

             Species
50   Iris-versicolor
51   Iris-versicolor
52   Iris-versicolor
54   Iris-versicolor
56   Iris-versicolor
..               ...
144   Iris-virginica
145   Iris-virginica
146   Iris-virginica
147   Iris-virginica
148   Iris-virginica

[67 rows x 6 columns]

# Saving a  datframe as a CSV file

In [ ]:
df1.to_csv('iris2.csv')

In [ ]:
df1.to_csv('iris2.csv',index=False)