# Creating Pandas Series

In [10]:
import pandas as pd

In [9]:
pd.__version__

'1.5.3'

In [12]:
import pandas as pd
values=["India","Canada","Australia","Japan",
        "Germany","France"]
code=["IND","CAN","AUS","JAP","GER","FRA"]
ser2=pd.Series(values,code)
print("The Series is:",ser1)
print("Length of the Series is:",len(ser2))
print("Shape of the Series is:",ser2.shape)
print("Size of the Series is",ser2.size)

The Series is: 0    10
1    20
2    30
3    40
4    50
dtype: int64
Length of the Series is: 6
Shape of the Series is: (6,)
Size of the Series is 6

# Creating Pandas DataFrame

In [18]:
import pandas as pd
df=pd.DataFrame(columns=["Name","Age"])
parts=int(input("Enter the number of student records you want to store:"))
for _ in range(parts):
  name=input("Enter the name of the student:")
  age=input("Enter the age of the students in years:")
  df1= pd.DataFrame(data=[[name,age23]],columns=["Name","Age"])
  df=pd.concat([df,df1],axis=0)
df.index=range(len(df.index))
print("The DataFrame is-_________________")
print(df)

Enter the number of student records you want to store:3
Enter the name of the student:raj
Enter the age of the students in years:23
Enter the name of the student:keerthi
Enter the age of the students in years:22
Enter the name of the student:yash
Enter the age of the students in years:26
The DataFrame is-_________________
      Name Age
0      raj  23
1  keerthi  22
2     yash  26