In [3]:
9print("Enter the marks of all six subjects,one by one-")
sub_1=float(input("Enter the marks out of 100 obtained in subject-1:"))
sub_2=float(input("Enter the marks out of 100 obtained in subject-2:"))
sub_3=float(input("Enter the marks out of 100 obtained in subject-3:"))
sub_4=float(input("Enter the marks out of 100 obtained in subject-4:"))
sub_5=float(input("Enter the marks out of 100 obtained in subject-5:"))
sub_6=float(input("Enter the marks out of 100 obtained in subject-6:"))
total,average,percentage=None,None,None
total=sub_1+sub_2+sub_3+sub_4+sub_5+sub_6
average=total/6
percentage=(total/600)*100
print("Total marks obtained:",total)
print("Average marks obtained:",average)
print("Percantage obtained:",percentage)

Enter the marks of all six subjects,one by one-
Enter the marks out of 100 obtained in subject-1:45
Enter the marks out of 100 obtained in subject-2:55
Enter the marks out of 100 obtained in subject-3:90
Enter the marks out of 100 obtained in subject-4:50
Enter the marks out of 100 obtained in subject-5:60
Enter the marks out of 100 obtained in subject-6:80
Total marks obtained: 380.0
Average marks obtained: 63.333333333333336
Percantage obtained: 63.33333333333333

#The Score Card

In [4]:
score=[[10,'john'],[20,'Lucy'],[30,'Amit'],[40,'Sumit'],[50,'Ansh'],[65,'Jibran'],[70,'Jay']]
score.sort()
score.reverse()
max_score=(score[0][1])
sec_max=(score[1][1])
print(score)
print("Student with highest marks is:",max_score)
print("And the student with second highest marks:",sec_max)

[[70, 'Jay'], [65, 'Jibran'], [50, 'Ansh'], [40, 'Sumit'], [30, 'Amit'], [20, 'Lucy'], [10, 'john']]
Student with highest marks is: Jay
And the student with second highest marks: Jibran