#Vowels And Consonants

In [3]:
char=input("Enter a character:")
if (char=='A' or char=='a' or char=='E' or char=='e' or char=='I' or
    char=='i' or char=='O' or char=='o' or char=='U' or char=='u'):
  print(char,"is a Vowel")
else:
  print(char,"is a Consonant")

Enter a character:N
N is a Consonant

# Multiplication Table

In [4]:
multi=int(input("Enter the Number:"))
print("The Multiplication Table From 1-10","of",multi,"is")
for i in range(1,11):
  print(multi,'X',i,'=',multi*i)

Enter the Number:8
The Multiplication Tble From 1-10 of 8 is
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80